@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

body{
    font-family: 'Roboto','sans-serif';
}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}